---
layout: default
---
<div id="container">
<div id="grid" data-columns class="cols">
    {% for post in site.posts %}
    <div class="box" data-url="{{ post.img }}">
       {% if post.img %}
          <img class="feat-image" src="{{ '/' | append: post.img | relative_url }}" alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p>{{post.description}}</p>
             <div class="action">{{ post.date | date: '%B %d, %Y' }}<a href="{{ post.url | relative_url }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
   {% endfor %}

</div>
</div>

<script src="{{ '/js/salvattore.min.js' | relative_url }}"></script>
<script src="{{ '/js/main.js' | relative_url }}"></script>
<script>doMagic("box");</script>
