---
layout: default
---
<div id="container">
<div id="grid" data-columns class="cols">
    {% for post in site.posts %}
    <div class="box" data-url="{{ post.img }}">
       {% if post.img %}
          <img class="feat-image" src="{{ site.baseurl }}/{{ post.img }}" alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p>{{post.description}}</p>
             <div class="action">{{ post.date | date: '%B %d, %Y' }}<a href="{{site.baseurl}}{{post.url}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
   {% endfor %}

</div>
</div>

<script src="{{site.baseurl}}/js/salvattore.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
<script>doMagic("box");</script>
